<nav class="navbar-lewagon navbar-light">
  <form class="form-inline">
    <%=link_to cocktails_path do %>
      <img src="https://images.vexels.com/media/users/3/144120/isolated/preview/4eff3df3a5d6f917f98ba7917ee40011-neon-cocktails-sign-by-vexels.png" width="75px">
    <%end %>
    <h2><strong>Sans alcool, la fête est plus folle !</strong></h2>
  </form>
</nav>

<hr>
<div class="container">
  <h1><strong>Edit Cocktail</strong></h1>
  <%= render 'form', cocktail: @cocktail %>
</div>
</hr>
