<br>
<div class="container">
  <div class="row justify-content-center">
    <%=link_to home_path do %>
      <img src="https://images.vexels.com/media/users/3/144120/isolated/preview/4eff3df3a5d6f917f98ba7917ee40011-neon-cocktails-sign-by-vexels.png" width="175px">
    <%end %>
   </div>
</div>
<div class="container">
  <div class="row justify-content-center">
   <iframe class="margin-sm" width="1000" height="300" src="https://www.youtube.com/embed/Lph-H0JOjGY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <button class="btn btn-info btn-lg"> <%=link_to 'ðŸ¸ GET THE PARTY STARTED ðŸ¸', cocktails_path %> </button>
  </div>
</div>
<br>
<br>

