<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color: #0D2848;">
  <form class="form-inline my-2 my-lg-0">
    <img class="avatar-bordered" src="https://avatars1.githubusercontent.com/u/50453385?s=460&v=4" width="100px">
  </form>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-info"> <%=link_to '➕ Add a cocktail', new_cocktail_path%> </button>
  </form>
  </div>
</nav>

<br>
<div class="container" style="text-align: left">
  <h1 id="typed"> Wanna try </h1>
  <h1>  our <strong><span class="type" style="background-color: #0D2848; color:#F8C559"> </span ></strong></h1>
  <script >
    var typed = new Typed(".type", {
    strings: [
    "first ^1000",
    "Whisky sour ?",
    "Tequila Sunrise ?",
    "Dry Martini ?"
    ],
    typeSpeed: 50,
    backSpeed: 50,
    backDelay: 1500,
    loop: true
});
  </script>
</div>
<br>


<div class="container">
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <%=link_to cocktail_path(cocktail) do%>
          <div data-aos="flip-down">
            <img id="zoom" src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80" width="300px" style="border-radius:4px" class="img-fluid shadow p-1 bg-info rounded" class="margin-sm">
          </div>
          <h3 class="margin-sm"> <strong><%= cocktail.name %></strong></h3>
          <br>
          <br>
        </div>
      <% end %>
        <br>
    <% end %>
  </div>
  <br>
</div>

