<nav class="navbar navbar-lewagon navbar-light justify-content-between">

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Your cocktail" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>
  <form>
    <img src="https://images.vexels.com/media/users/3/144120/isolated/preview/4eff3df3a5d6f917f98ba7917ee40011-neon-cocktails-sign-by-vexels.png" width="75px">
  </form>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-info"> <%=link_to '➕ Add new cocktail', new_cocktail_path%> </button>
    <div style="margin: 5px"> </div>
    <img class="avatar-bordered" src="https://avatars1.githubusercontent.com/u/50453385?s=460&v=4" width="100px">
  </form>

</nav>
<br>
<div class="container" style="text-align: center">
  <h1><strong>Pick a cocktail</strong> </h1>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
        <div class="col-sm-4">
          <div data-aos="flip-down">
            <img id="zoom" src="https://source.unsplash.com/search/photos/cocktail/400x300" style="border-radius:4px" class="shadow p-1 bg-info rounded" class="margin-sm">
          </div>
          <h2 class="margin-sm"> <strong><%= cocktail.name %></strong></h2>
           <button class="btn btn-info"> <%=link_to 'See receipe', cocktail_path(cocktail)%> </button>
          <br>
          <br>
        </div>
        <br>
    <% end %>
  </div>
  <br>
</div>

